*{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0;
}

body{

    display: flex;
    justify-content: center;
    align-items: center;
    
}
.landing-img{
  background: url("src/landing-img.png");
  width: 98%;
  height: 97vh;
  background-size: cover;
  background-position: center center;
  background-repeat: no- repeat;
  background-attachment: scroll;
  margin-right: auto;
  margin-left: auto;
  margin-top: 10px;
  border-radius: 15px;
  text-align: center;
}
h1{
    font-size: 6vw;
    position: relative;
    top: 4vh;
    color: whitesmoke;
}

h2{
    position: relative;
    top: 10vh;
    font-size: 2vw;
    background-color: red;
    width: 20%;
    padding: 10px 15px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 15px;
}

.logo{
    position: absolute;
    top: 2vh;
    left: 1vw;
    width: 15vw; 
    height: auto; 
}

a{
    text-decoration: none;
    color: whitesmoke;
}

@media(max-width:900px){
    h1{
        top: 20vh;
    }
    h2{
        top: 30vh;
        padding: 5px 10px;
    }
}
